* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #121212;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

h1, #days_remaining_cont, #total_days_cont {
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-weight: normal;
}

.week-to-week {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    background: #222;
    border-radius: 5px;
}

.week-to-week:first-child {
    background: none;
}

.week-to-week:not(:first-child) {
    margin-bottom: 10px;
}

.week-to-week p {
    text-align: center;

    justify-content: center;
    align-items: center;
    height: 100%;

    padding: 10px 0;
}

.week-to-week .tier {
    font-size: 1.5rem;
}