* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #121212;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

h1, #days_remaining_cont, #total_days_cont {
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-weight: normal;
}

.week {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    background: #222;
    border-radius: 5px;
}

.week:first-child {
    background: none;
}

.week:not(:first-child) {
    margin-bottom: 10px;
}

.week p {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    padding: 10px 0;
}

.week .tier {
    font-size: 1.5rem;
}

.week.active {
    background: #A9f5f3;
    color: black;
}

.explanation {
    margin-bottom: 20px;
}

.max-level-switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#level-switch-label {
    margin-left: 0.5rem;
    font-size: 24px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #222222;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 55px;
}

input:checked + .slider {
    background-color: #A9f5f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}